.page-header
  %span.pull-right
    = link_to <%= index_helper %>_path, :class => 'btn btn-default' do
      %span.glyphicon.glyphicon-list-alt
      =t('.back', :default => t("helpers.links.back"))
  %h1= t '.title', default: " New <%= singular_table_name %>"

= render 'form'
